@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  padding: 1.125em 2em;
}

.button[data-type="accent"] {
  background-color: var(--primary);
  color: white;
}

.button[data-type="outline"] {
  --outline-size: 5px;

  background: transparent;
  outline: var(--outline-size) solid var(--primary);
  outline-offset: calc(var(--outline-size) * -1);
  color: var(--primary);
}
